name: Build and Push kollection-manager to GAR


on:
  push:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}


      - name: Configure Docker for Artifact Registry
        run: |
          gcloud --quiet auth configure-docker ${{ secrets.GAR_LOCATION }}-docker.pkg.dev


      - name: Set variables
        id: vars
        run: |
          IMAGE=${{ secrets.GAR_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GAR_REPOSITORY }}/kollection-manager
          TAG=$(echo $GITHUB_SHA | cut -c1-7)
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV
          echo "TAG=$TAG" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build -t $IMAGE:$TAG .


      - name: Push Docker image
        run: |
          docker push $IMAGE:$TAG


      - name: Persist image info
        run: |
          echo "IMAGE=$IMAGE:$TAG" >> $GITHUB_OUTPUT